repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=2000']

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pytest-bait
        name: Bait Validation Suite
        entry: make test
        language: system
        pass_filenames: false
        always_run: true

      - id: tests
        name: Full Test Suite
        entry: make test-all
        language: system
        pass_filenames: false
        always_run: true

      - id: clean-architecture-linter
        name: Clean Architecture Linter
        entry: pylint src/
        language: system
        pass_filenames: false
        always_run: true
