name: Automated Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: release
  cancel-in-progress: true

jobs:
  check:
    uses: ./.github/workflows/ci.yml

  release:
    needs: check
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write
      id-token: write

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Python Semantic Release
      uses: python-semantic-release/python-semantic-release@v8.3.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish package distributions to PyPI
      if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/main' && hashFiles('dist/*.tar.gz') != ''
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        packages-dir: dist/
